<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelpDev</title>
  </head>
  <body>
    <header>
      <img src="../static/img/HELPDEV.png" alt="" />
    </header>
    
    <main>
      <h1>Assistente de Programação</h1>

      <form method="POST">
        <label for="pergunta">Digite sua dúvida:</label>
        <input
          type="text"
          name="pergunta"
          id="pergunta"
          value="{{ pergunta }}"
          required
        />
        <button type="submit">Buscar</button>
      </form>

      {% if pergunta %}
      <h2>Resultados do Stack Overflow:</h2>
      {% if resultados_stackoverflow %}
      <ul>
        {% for resultado in resultados_stackoverflow %}
        <li>
          <strong>{{ resultado.titulo }}</strong><br />
          <a href="{{ resultado.link }}" target="_blank"
            >Ver pergunta completa</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Nenhum resultado encontrado no Stack Overflow.</p>
      {% endif %} {% endif %}
    </main>

    <footer>
      <h2>Feito por Richard</h2>
    </footer>
  </body>
</html>
